---
import Section from "../crackHeadphones/Section.astro";
---
<div class="pt-6 pb-[64px] pl-4 pr-4 md:pt-[64px] md:pr-8 md:pl-18 md:pb-0  lg:pt-[80px] lg:pr-36 lg:pl-36 lg:pb-0">
    <Section 
        HeadingType="h2"  
        headingText="Build and Design Process"
    >
                <!--sketches -->
        <div class="grid grid-cols-2">
            <Section     
                HeadingType="h3" 
                headingText="Sketches"
                content="In order to conceptualize the appearance and tactile qualities of the headphones, I have established the following guiding objectives:"
            >
            <ul class="list-inside">
                <li class="list-decimal">Utilizing data obtained through user research and competitive analysis, create a sketch of the headphones with consideration for the following categories: shape, comfort, accessibility, material, dimensions, and sizing.</li>
                <li class="list-decimal">Naming the headphones and designing an appropriate logo</li>
            </ul>
            </Section>
            <div class="grid grid-cols-2 grid-rows-2 gap-3 items-start">
                <img src="/images/CRACKHEAD/sideview.png" alt="headset side-view">
                <img  src="/images/CRACKHEAD/frontview.png" alt="headset front-view">
                <img src="/images/CRACKHEAD/perspectiveView.png" alt="headset perspective-view">
                <img src="/images/CRACKHEAD/allviews.png" alt="headset all views">
            </div>
        </div>

            <!-- wireframes -->
        <Section     
            HeadingType="h3" 
            headingText="Digital Wireframes"
            containerStyle="grid grid-cols-4"
        >
            <img src="/images/CRACKHEAD/wireframeperspective.png" alt="headset side-view">
            <img  src="/images/CRACKHEAD/wireframefront.png" alt="headset front-view">
            <img src="/images/CRACKHEAD/wireframetop.png" alt="headset perspective-view">
            <img src="/images/CRACKHEAD/wireframeside.png" alt="headset all views">
        </Section>

        <!-- 3d design -->
        <Section     
            HeadingType="h3" 
            headingText="3D Design"
            
        >
                <img class="w-full md:hidden" src="/images/CRACKHEAD/3dDesignMob.png" alt="headset side-view">
                <img class="w-full hidden md:block" src="/images/CRACKHEAD/3dDesignDesk.png" alt="headset side-view">

        </Section>

        <!-- logo -->
        <Section     
            HeadingType="h3" 
            headingText="Logo"
            containerStyle="flex mt-[100px"
        >
            <p class="md:w-[70%]">
                Coming up with a name for the headphones was a humorous and imaginative process. After a long day of trying to come up with a name, I decided to take a break and as I looked around the room, my eyes landed on a crack in the wall. That's when it hit me - "Crack" would be the perfect name for the headphones. The design of the word logo was inspired by that moment, and the brandmark logo actually came to me in a dream later that same night.
                <br><br>
                A flat and simple logo was also created for a mobile-first design experience so it can present well across different mediums.
            </p>
            <img class="md:w-[30%]" src="/images/CRACKHEAD/crackLogo.svg" alt="inspiration for crackhead logo">
        </Section>
    </Section>
</div>