---
import Card from "../Card.astro";
import Section from "../crackHeadphones/Section.astro";
---
<div class="pt-6 pb-[24px] pl-4 pr-4 md:pt-8 md:pr-8 md:pl-18 md:pb-0  lg:pt-16 lg:pr-36 lg:pl-36 lg:pb-0">
    <Section HeadingType="h2" headingText="Going Forward">
        <Section 
            HeadingType="h3" 
            headingText="Next Steps"
            containerStyle="grid grid-cols-2 gap-4 md:grid-cols-3"
        >
            <Card
                url="/images/CRACKHEAD/VR.svg"
                align='center'
                imageStyle="relative top-2"
            >
                <ul class="text-[11px] md:text-[17px] leading-6 md:leading-10 list-outside list-disc text-left bg-[#F5F5F5] pl-5">
                    <li>An extended VR version is being designed, it already has passed the research stage.</li>
                    <li>Some of the goals for the VR version are:
                        <ul class="list-outside list-disc pl-4">
                            <li><b>Sports:</b> We want to give users a different experience by live streaming sports in Virtual Reality.</li>
                            <li><b>Dreams:</b> We will also make the interpretation of dreams easier and more fun by creating a virtual community of VR world designers that design people’s dreams and with the use of AI, designing these worlds will be easier.</li>
                        </ul>
                    </li>
                </ul>
            </Card>

            
            <Card
                url="/images/CRACKHEAD/AI.svg"
                align='center'
                imageStyle="relative top-2"
            >
                <ul class="text-[11px] md:text-[17px] leading-6 md:leading-10 list-outside list-disc text-left bg-[#F5F5F5] pl-5">
                    <li>CRACK AI will be introduced with a fully functional Personal Assistant like Alexa, Siri, Cortana etc.</li>
                    <li>The AI will be integrated into the extended VR/AR version, and should be a game changer in education and the interpretation of dreams.</li>
                </ul>
            </Card>

            <Card
                url="/images/CRACKHEAD/APP.svg"
                align='center'
                imageStyle="relative top-2"
                cardStyle="col-span-2 md:col-span-1"
            >
                <ul class="text-[11px] md:text-[17px] leading-6 md:leading-10 list-outside list-disc text-left bg-[#F5F5F5] pl-5">
                    <li>An App (CRACK) will be designed to accomodate controls for the headphone, and the VR, and will contan many more features like a social media for crack users where you can see what other crack users are listening to and see crack headphones near you.</li>
                </ul>
            </Card>
        </Section>
            <br>
        <p>
            With enough funding and a more refined research, the headphones and VR will come to life.
            <br> Music is so important that they say it is the food for the soul. We wanted to make a headphone that makes a user feel connected to every sound. Hence, the emergence of CRACK.
        </p>
    </Section>
</div>