---

---
<style>
   table, th, td{
    border: 1px solid black;
   }

   td{
     padding: 8px;
   }

   td:first-of-type, td:nth-child(2), td:nth-child(3){
        text-align: center;
   }

   td:nth-child(5){
    color: #E82323;
   }
</style>
<table class="w-full border-black border-[0.5px] text-[5.88px] md:text-[17px]">
    <tr class="font-bold ">
        <th>Key Competitors</th>
        <th>Top Product</th>
        <th>Price(AMAZON)</th>
        <th>Product Strengths</th>
        <th>Product Weaknesses</th>
    </tr>

    <tr>
        <td>Bose</td>
        <td>Bose QuietComfort 45/QC45</td>
        <td>$329.00</td>
        <td>
            <ul class="font-bold list-inside list-disc md:leading-6">
                <li>Very comfortable and great for commute and travel.</li>
                <li>Good build quality.</li>
                <li>Excellent noise isolation performance.</li>
            </ul>
        </td>
        <td>
            <ul class="font-bold list-inside list-disc md:leading-6">
                <li>Bulky and can fall off your head with more intense movement.</li>
            </ul>
        </td>
    </tr>

    <tr>
        <td>Sony</td>
        <td>Sony WH-1000XM4</td>
        <td>$348.00</td>
        <td>
            <ul class="font-bold list-inside list-disc md:leading-6">
                <li>Comfortable fit.</li>
                <li>Incredible ANC performance.</li>
                <li>Over 37-hour continuous battery life</li>
            </ul>
        </td>
        <td>
            <ul class="font-bold list-inside list-disc md:leading-6">
                <li>Bulky design</li>
            </ul>
        </td>
    </tr>
</table>
<p class="text-[4.49px]">** Strengths and weaknesses are based on comparison with CRACK headphones under the category - Fashion Headphone</p>