---
    import Section from "../crackHeadphones/Section.astro"
    import Card from "../Card.astro";
    import pageData from "../../data/crackHeadphones";
---
<div class="pt-6 pb-[64px] pl-4 pr-4 md:pt-[64px] md:pr-8 md:pl-18 md:pb-0  lg:pt-[80px] lg:pr-36 lg:pl-36 lg:pb-0">

    <Section HeadingType="h2" headingText="Understanding the User">
        <Section HeadingType="h3" headingText="Summary">
            <p class="mt-2 mb-8">During the course of the project, I conducted both <b>Primary and Secondary research</b> which involved using <b>Qualitative</b> and <b>Quantitative data</b>. Primary research I conducted were mainly through direct interviews and survey which gave me an idea of user pain points and helped in determining what features will be in the headphones but this didn’t give me enough data as it was geographically limited to my surrounding, so most data used for this project were gotten through secondary research.</p>
        </Section>
                <!-- pain points -->
        <Section HeadingType="h3" headingText="Pain Points">
            <div class="grid grid-cols-2 grid-rows-2 md:grid-cols-4 md:grid-rows-1 mt-8 gap-4">
                {pageData.painpoints.map((item)=> 
                    <Card
                        url={item.url}
                        imageStyle="md:w-[104px] md:h-[104px]"
                        HeadingType='h4'
                        headingText={item.title} 
                        headingStyle="mb-[8px] mt-[11px] text-[11px] md:text-[17px] text-re tracking-[0.11px] leading-4 font-medium"  
                        content={item.content}                        
                        contentStyle="text-[10px] md:text-[17px]"     
                        align='center'    
                    />
                )}
            </div>
        </Section>    
                <!-- persona Stephanie -->
         <img src="/images/CRACKHEAD/personaS.png" alt="" srcset="">
       

            <!-- persona john -->
            <section class="mt-[32px] relative">
                <div class="absolute w-[10px] h-[70px] md:h-[150px] bg-[#CEB46A] left-[-20px]"></div>
                <h3 class="md:text-[34px] md:leading-[41px]">Persona: <b>John</b></h3>
                <p class="text-[8px] text-right md:text-[17px] md:tracking-[0.37px] md:leading-[41px]">“A bad event is a slap in the face of my career”</p>
                <div class="grid grid-cols-2 items-center">
                    <!-- problem statement -->
                    <Section 
                        HeadingType='h4' 
                        headingText="Problem Statement"
                        headingStyle="text-re text-[8px] tracking-[0.11px] leading-[12.2px] font-semibold pl-2 md:text-[17px] md:leading-[41px] md:tracking-[0.37px]"
                        content="John is a music DJ who needs to easily know the battery level of his wireless headphone because he gets disconnected often times during an event due to a low battery level. He also would like a headphone with easy-to-replace ear pads."
                        contentStyle="text-[8px] p-2 md:text-[17px] "
                    />
                    <!-- goals and frustrations -->
                    <div class="grid grid-cols-2 p-3">
                        <Section 
                            HeadingType='h4' 
                            headingText="Goals"
                            headingStyle="text-green-600 text-[8px] tracking-[0.11px] leading-[12.2px] font-semibold md:text-[17px] md:leading-[41px] md:tracking-[0.37px]"
                        >
                            <ul class="text-[8px] md:text-[15px] list-inside list-decimal mt-[2px] pl-2">
                                <li class=" leading-4 list-disc md:leading-[24px]">Spend more time enjoying a song with someone else than in looking up that song.</li>
                                <li class="leading-4 list-disc md:leading-[24px]">Pause and play songs with ease.</li>
                            </ul>
                        </Section>
    
                        <Section 
                        HeadingType='h4' 
                        headingText="Frustrations"
                        headingStyle="text-re text-[8px] md:text-[17px] md:leading-[41px] md:tracking-[0.37px] tracking-[0.11px] leading-[12.2px] font-semibold"
                        >
                            <ul class="list-inside text-[8px] md:text-[15px] list-decimal mt-[2px] pl-2">
                                <li class="leading-4 list-disc md:leading-[24px]">I can’t sync-listen to a song with my daughter at the park without using 3rd-party apps or wired extensions.</li>
                            </ul>
                        </Section>
    
                        <p class="text-[8px] col-span-2 mt-2 pr-[24px] pl-[24px] pt-[15px] pb-[15px] border-black border-[1px] md:text-[15px] md:leading-[24px] md:tracking-[1px]">Stephanie is a single mother of one with a busy and demanding schedule. She visits the park with her daughter two times every month, where they get to spend time together painting and listening to songs as they are art and music lovers. Stephanie and her daughter listen to songs while painting, and would love if there is an easier way for them to listen to the same songs at the same time and to pause and play songs without smearing their phones with paint.</p>
                    </div>
                </div>
            </section>

        <div class="flex mt-[24px]">
            <img  class="w-[30%] md:w-[50%]"  src="/images/CRACKHEAD/chart.png" alt="" srcset="">
            <p class="text-[11px] w-[70%] md:w-[50%] leading-6 md:text-[17px] md:leading-[40px]">A 2017 United States Statista survey asked people (aged 18 or older) how and for what purposes they use headphones. The results showed people use headphones for more than just listening to music, proving how ingrained they’ve become in our modern way of life.</p>
        </div>
    </Section>
</div>