---
    import Section from "../crackHeadphones/Section.astro"
    import Card from "../Card.astro";
    import pageData from "../../data/crackHeadphones";
---
<div class="pt-6 pb-[64px] pl-4 pr-4 md:pt-[64px] md:pr-8 md:pl-18 md:pb-0  lg:pt-[80px] lg:pr-36 lg:pl-36 lg:pb-0">

    <Section HeadingType="h2" headingText="Understanding the User">
        <Section HeadingType="h3" headingText="Summary">
            <p class="mt-2 mb-8">During the course of the project, I conducted both <b>Primary and Secondary research</b> which involved using <b>Qualitative</b> and <b>Quantitative data</b>. Primary research I conducted were mainly through direct interviews and survey which gave me an idea of user pain points and helped in determining what features will be in the headphones but this didn’t give me enough data as it was geographically limited to my surrounding, so most data used for this project were gotten through secondary research.</p>
        </Section>
                <!-- pain points -->
        <Section HeadingType="h3" headingText="Pain Points">
            <div class="grid grid-cols-2 grid-rows-2 md:grid-cols-4 md:grid-rows-1 mt-8 gap-4">
                {pageData.painpoints.map((item)=> 
                    <Card
                        url={item.url}
                        imageStyle="md:w-[104px] md:h-[104px]"
                        HeadingType='h4'
                        headingText={item.title} 
                        headingStyle="mb-[8px] mt-[11px] text-[11px] md:text-[17px] text-re tracking-[0.11px] leading-4 font-medium"  
                        content={item.content}                        
                        contentStyle="text-[10px] md:text-[17px]"     
                        align='center'    
                    />
                )}
            </div>
        </Section>    
                <!-- persona Stephanie -->
         <img src="/images/CRACKHEAD/personaS.png" alt="" class="md:hidden">
       
         <img src="/images/CRACKHEAD/personaJ.png" alt="" class="md:hidden">

         <img src="/images/CRACKHEAD/personaSdesk.png" alt="" class="md:block hidden">

         <img src="/images/CRACKHEAD/personaJdesk.png" alt="" class="md:block hidden">

        <div class="flex mt-[24px]">
            <img  class="w-[30%] md:w-[50%]"  src="/images/CRACKHEAD/chart.png" alt="" srcset="">
            <p class="text-[11px] w-[70%] md:w-[50%] leading-6 md:text-[17px] md:leading-[40px]">A 2017 United States Statista survey asked people (aged 18 or older) how and for what purposes they use headphones. The results showed people use headphones for more than just listening to music, proving how ingrained they’ve become in our modern way of life.</p>
        </div>
    </Section>
</div>