---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component front matter". It never runs in the browser.
import '../styles/style.css'
import Footer from '../components/Footer.astro';
import HomeCard from '../components/homeCard.astro';
import pageData from '../data/gal.js'
import Section from '../components/crackHeadphones/Section.astro';
import TitledList from '../components/crackHeadphones/TitledList.astro';
console.log('This runs in your terminal, not the browser!');
---
<!-- Below is your "component template." It's just HTML, but with
     some magic sprinkled in to help you build great templates. -->
<style>
    body.hide{
        overflow: hidden;
    }
</style>
     
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
    </head>
    <body class="relative">
        <header class="bg-lightGra2-100"> 
            <div class="pt-[89px] pb-5 pr-4 pl-4 lg:pr-[40px] lg:pl-[40px] lg:pb-[36px] md:pt-[50px]">
                                                                <!-- desktop nav -->
                <nav>
                    <div class="hidden  md:flex items-center justify-between">
                        <div class="flex">
                            <div class="w-[97px] h-[97px] bg-center bg-cover bg-[url('/images/KamilArt.png')] rounded-full transform transition-transform hover:scale-110 "></div>
                            <div class="mt-[30px] ml-4">
                                <p class="text-[32px] font-bold text-black">Kamil Oseni</p>
                                <p class="text-darkBlue md:text-[11px] lg:text-[16px] italic">"Designing The Future, One Pixel At A Time"</p>
                            </div>
                        </div>
            
                        <ul class="flex gap-16 text-darkBlue">
                            <li>Home</li>
                            <li>Resume</li>
                            <li><a href="#" class="bg-black text-white p-[16px] rounded-[24px]">Get in touch</a></li>
                        </ul>  
                    </div>
                </nav>
    
                                                                    <!-- mobile nav -->
                <nav>
                    <div class="md:hidden items-center flex justify-between">
                        <div class="w-12 h-12 relative nav-btnOpen">
                            <div class="flex flex-col justify-center items-center absolute top-0 bottom-0 right-0 left-0 pr-2 pl-2 pb-2 pt-2">
                                <div class="w-full h-[3px] bg-darkBlue nav-line mb-[2px] rounded-md transform translate-x-[-100px] animate-sliding-in-1"></div>
                                <div class="w-full h-[3px] bg-darkBlue nav-line mt-[2px] rounded-md transform translate-x-[-100px] animate-sliding-in-2"></div>
                            </div>
                            <button class="absolute top-0 bottom-0 left-0 right-0 opacity-0 nav-btn">open nav</button>
                        </div>
    
                        <p class="max-w-[188px] text-[11px] sm:text-sm text-center opacity-0 animate-fadeIn text-darkBlue italic">“Designing the future, one pixel at a time.”</p>
    
                        <div class="w-16 h-16 bg-center bg-cover rounded-full bg-[url('/images/KamilArt.png')]"></div>
                    </div>
    
                    <!-- nav menu mobile -->
                    <div class="bg-white fixed top-0 right-0 left-0 z-50 pt-[68px] pr-4 pl-4 min-h-[100vh] nav-menu hidden rounded-r-[50px] shadow-2xl">
                                                        <!-- section one -->
                        <div class="flex justify-between items-center">
                            <div class="w-16 h-16 bg-center bg-cover rounded-full bg-[url('/images/KamilArt.png')]"></div>
                            <div class="w-12 h-12 relative">   <!--nav button-->
                                <div class="flex flex-col justify-center items-center absolute top-0 bottom-0 right-0 left-0 pr-2 pl-2 pb-2 pt-2">
                                    <div class="w-full h-[3px] bg-darkBlue nav-line mb-[2px] rounded-md transform animate-nav-one-closing"></div>
                                    <div class="w-full h-[3px] bg-darkBlue nav-line mt-[2px] rounded-md transform animate-nav-two-closing"></div>
                                </div>
                                <button class="absolute top-0 bottom-0 left-0 right-0 opacity-0 nav-btnClose">close nav</button>
                            </div>
                        </div>
                                                            <!-- section two -->
                        <div class="mt-10">
                            <ul>
                                <li class="text-[24px] font-semibold text-darkBlue transform translate-y-[100px] opacity-0 animate-nav-item-one">Home<span class="inline-block relative bottom-1 w-1 h-1 ml-2 bg-darkBlue"></span></li>
                                <li class="text-[24px] font-semibold text-darkBlue mt-10 mb-10 transform translate-y-[100px] opacity-0 animate-nav-item-two">Resume<span class="inline-block relative bottom-1 w-1 h-1 ml-2 bg-darkBlue"></span></li>
                                <li class="text-[24px] font-semibold text-darkBlue transform translate-y-[100px] opacity-0 animate-nav-item-three">Get in touch<span class="inline-block relative bottom-1 w-1 h-1 ml-2 bg-darkBlue"></span></li>
                            </ul>
                        </div>     
                                                                <!-- section three -->
                        <ul class="mt-9 transform translate-y-[100px] opacity-0 animate-nav-item-three">
                            <li class="text-darkBlue font-bold">Instagram</li>
                            <li class="mt-2 text-darkBlue font-bold">LinkedIn</li>
                        </ul>
                                                                    <!-- section four -->
                        <div class="flex w-24 justify-between mt-12 transform translate-y-[100px] opacity-0 animate-nav-item-three">
                            <img src="./images/twitterWhite.svg" alt="twitter icon">
                            <img src="./images/mailWhite.png" alt="mail icon">
                        </div>
                    
                    </div>
                </nav>
                                    
                <section class="text-center">
                    <h1 class="lg:text-[100px] md:text-[60px] text-[32px] text-darkBlue font-semibold mt-16">Making Complex Simple</h1>
                    <p class="text-[25px] md:text-[50px] text-darkBlue mt-[11px] md:mt-[32px]">Hi, I'm Kamil Oseni <sapn class="hand inline-block">👋🏾</sapn></p>
                    <p class="mt-[10px] text-[11px] sm:text-xl md:text-2xl text-darkBlue">I'm a creative product designer who is always on the hunt for new challenges and projects to sink my teeth into. Oh, and I absolutely adore art!</p>
                    <img class="md:inline-block mt-5 hidden line" src="./images/Line48.svg" alt="" srcset="">
                </section>
            </div>
    
                                                                    <!-- mobile nav -->
                                                                        
        </header>
    
        <main class="text-[#555555]">
    
                                                                                <!-- case studies -->
            <div class="pt-8 pb-8 pr-4 pl-4  lg:pl-[143px] lg:pr-[144px] lg:pt-[140px] lg:pb-[26px] relative">
                <div class="hidden lg:block w-[2px] h-[120px] bg-black absolute top-0"></div>
                <section>
                    <div class="relative">                                 <!--heading div-->
                        <div class="hidden xl:block absolute bg-no-repeat -top-16 bottom-0 right-0 lg:-right-[100px] w-3/6 bg-[url('/images/CaseStudies.png')]"></div>
                        <div class="mb-[17px] md:mb-[48px] relative">
                            <h2 class="text-[17px] md:text-2xl font-semibold">CASE STUDIES</h2> 
                            <div class="hidden md:block w-[120px] h-[2px] bg-black absolute left-[-160px] bottom-[15px]"></div>
                        </div>
                        <p class="text-[11px] md:text-xs tracking-[7px] text-gray mb-[19px] relative">LATEST WORKS</p>
                        <p class="text-[25px] md:text-[50px] text-black font-bold max-w-[800px] mb-[24px] relative">CREATIVITY TAKES COURAGE.</p>
                        <p class="text-[11px] md:text-[16px] text-gra mb-[64px] italic relative">“The real measure for any technology is how intuitive it is to use.“</p>
                    </div>
                        <!-- cards grid -->
                    <div class="grid grid-cols-2 grid-rows-2 md:grid-cols-3 md:grid-rows-1 gap-4 md:gap-8">
                        <HomeCard
                            title="CRACK Control Hub"
                            url="./images/White 3 1.png"
                            content="My full design of the Crack headphone, a luxury headphone with built-in speakers for sophisticated, retro-modern style"
                            year="JULY 2015"
                        />

                        <HomeCard
                            title="CRACK X Chelsea FC"
                            url="./images/CHEALSEAX/hero.png"
                            content="I designed a VR experience using XR to enhance live football viewing at Stamford Bridge, offering fully immersive experiences for fans."
                            year="JULY 2022"
                            linkedTo="/projects/crack-x-chelsea-FC"
                            imgContStyle="pt-[18%] pb-[19%]"
                        />

                        <HomeCard
                            title="Winamp Redesign"
                            url="./images/Kamil Oseni Winamp Redesign.png"
                            content="A redesign of the old Winamp UI"
                            year="DECEMBER 2022"
                            linkedTo="/projects/winamp-redesign"
                        />

                        <div class="flex items-center justify-center flex-col gap-4 relative bottom-[60px] md:hidden">
                            <p class="font-bold text-[12px] text-darkBlue">Keep Going ;)</p> 
                            <img src="images/cr.png" alt="" srcset="">
                        </div>
                    </div>
    
                   
                   
                </section> 
    
           
            </div>
    
                                                                                <!-- ui designs -->
            <div class="pt-8 pb-8 pr-4 pl-4 bg-lightGra2-100 lg:pl-[143px] lg:pr-[144px] lg:pt-[47px] lg:pb-[47px]">
                <section>
                    <div class="relative">                                 <!--heading div-->
                        <!-- <div class="hidden lg:block absolute bg-no-repeat -top-16 bottom-0 right-0 lg:-right-[100px] w-3/6 bg-[url('/images/CaseStudies.png')]"></div> -->
                        <div class="mb-[17px] md:mb-[48px] relative">
                            <h2 class="text-[17px] md:text-2xl font-semibold">UI DESIGNS</h2> 
                            <div class="hidden md:block w-[120px] h-[2px] bg-black absolute left-[-160px] bottom-[15px]"></div>
                        </div>
                        <p class="text-[11px] md:text-xs tracking-[7px] text-gray mb-[24px] relative">LATEST WORKS</p>
                        <p class="text-[25px] md:text-[50px] text-black font-bold max-w-[800px] mb-[24px] relative">DESIGNING THE FUTURE, ONE PIXEL AT A TIME</p>
                        <p class="text-[11px] md:text-[16px] text-gra mb-[64px] italic relative">Click to see the magic happen!</p>
                    </div>
    
    
                    <div class="grid grid-cols-2 gap-4 grid-rows-3 md:grid-cols-3 md:grid-rows-2 md:gap-8">
                        <HomeCard
                            title="CRACK Control Hub"
                            url="./images/Crack Control Hub mock GIF.gif"
                            isModal
                            imgStyle="w-[66%]"
                        >
                            <p class="text-darkBlue text-xs mt-4 underline">Click to view prototype</p>
                        </HomeCard>

                        <HomeCard
                            title="Marketing Dashboard"
                            url="./images/Marketing Dashboard Gif.gif"
                            isModal
                        >
                            <p class="text-darkBlue text-xs mt-4 underline">Click to view published dashboard</p>
                            <p class="text-darkBlue text-xs mt-4 underline">Click to view prototype</p>
                        </HomeCard>

                        <HomeCard
                            title="CRACK Website Design"
                            url="./images/CRACK Web Gif.gif"
                            isModal
                        >
                            <p class="text-darkBlue text-xs mt-4 underline">Click to view prototype</p>
                        </HomeCard>
    
                        <HomeCard
                            title="Glass Website Design"
                            url="./images/glass.gif"
                            isModal
                        >
                            <p class="text-darkBlue text-xs mt-4 underline">Click to view prototype</p>
                        </HomeCard>

                        <HomeCard
                            title="Galilee by CRACK"
                            url="./images/GalileeHero.png"
                            isModal
                        />

                        <div class="flex items-center justify-center flex-col gap-4 relative bottom-[60px] md:hidden">
                            <p class="font-bold text-[12px] text-darkBlue">Keep Going ;)</p> 
                            <img src="images/cr.png" alt="" srcset="">
                        </div>
                    </div>
                   
                </section> 
    
           
            </div>
          
    
                                                                                    <!-- about you -->
            <div class="pt-8 pb-8 pr-4 pl-4 lg:pl-[144px] lg:pr-[144px] lg:pt-[54px] lg:pb-[100px]">
                <section class="md:flex">
                    <div class="basis-3/4">
                        <div class="relative">                                 <!--heading div-->
                            <div class="mb-[17px] md:mb-[48px] relative">
                                <h2 class="text-[17px] md:text-2xl font-semibold">ABOUT ME</h2> 
                                <div class="hidden md:block w-[120px] h-[2px] bg-black absolute left-[-160px] bottom-[15px]"></div>
                            </div>
                            <p class="text-[11px] md:text-xs tracking-[7px] text-gray mb-[24px] relative">WHO AM I?</p>
                            <p class="text-[25px] md:text-[50px] text-black font-bold max-w-[800px] mb-[24px] relative">BE YOURSELF!</p>
                            <p class="text-[11px] md:text-[16px] text-gra mb-[64px] italic relative">“The important thing is not to stop questioning. Curiosity has its own reason for existence. “</p>
                        </div>
    
                        <section>
                            <h3 class="text-darkBlue text-[12px] md:text-[17px] font-extrabold tracking-[7px]">HOBBIES</h3>
                            <p class="tracking-[1px] md:text-[16px] text-[12px] text-gra leading-10 mt-2 md:mt-4">Hi there, I'm Kamil Oseni! I'm a sucker for all things art - paintings, sculptures, talent, dance, the environment, anything that screams art. 
                                When I'm not binging on cartoons or anime, you can find me rollerblading, writing, or taking pictures of my surrounding. And of course, I have a huge soft spot for dogs too!
                            </p>
                        </section>
    
                        <section>
                            <h3 class="text-darkBlue font-extrabold md:text-[17px] tracking-[7px] mt-10 text-[12px]">PERSONALITY</h3>
                            <p class="tracking-[1px] md:text-[16px] text-[12px] text-gra leading-10 mt-2 md:mt-4">Hi there, I'm Kamil Oseni! I'm a sucker for all things art - paintings, sculptures, talent, dance, the environment, anything that screams art. 
                                When I'm not binging on cartoons or anime, you can find me rollerblading, writing, or taking pictures of my surrounding. And of course, I have a huge soft spot for dogs too!
                            </p>
                        </section>
    
                        <section>
                            <h3 class="text-darkBlue font-extrabold md:text-[17px] tracking-[7px] mt-10 text-[12px]">MOTIVATION</h3>
                            <p class="tracking-[1px] md:text-[16px] text-[12px] text-gra leading-10 mt-2 md:mt-4">Hi there, I'm Kamil Oseni! I'm a sucker for all things art - paintings, sculptures, talent, dance, the environment, anything that screams art. 
                                When I'm not binging on cartoons or anime, you can find me rollerblading, writing, or taking pictures of my surrounding. And of course, I have a huge soft spot for dogs too!
                            </p>
                        </section>
    
                        <section>
                            <h3 class="text-darkBlue font-extrabold md:text-[17px] tracking-[7px] mt-10 text-[12px]">WORKPLACE HABITS</h3>
                            <p class="tracking-[1px] md:text-[16px] text-[12px] text-gra leading-10 mt-2 md:mt-4">
                                To me, a satisfying workplace is pretty straightforward. I crave intellectual stimulation, the freedom to explore my ideas, and the chance to tackle tough puzzles. That's all I need to feel fulfilled in my work!
                            </p>
    
                            <section>
                                <h3 class="text-darkBlue text-[12px] md:text-[17px] font-extrabold mt-10">As an employee</h3>
                                <p class="tracking-[1px] md:text-[16px] text-[12px] text-gra leading-10 mt-2 md:mt-4">Hi there, I'm Kamil Oseni! I'm a sucker for all things art - paintings, sculptures, talent, dance, the environment, anything that screams art. 
                                    When I'm not binging on cartoons or anime, you can find me rollerblading, writing, or taking pictures of my surrounding. And of course, I have a huge soft spot for dogs too!
                                </p>
                            </section>
    
                            <section>
                                <h3 class="text-darkBlue text-[12px] md:text-[17px] font-extrabold mt-10">As a manager</h3>
                                <p class="tracking-[1px] md:text-[16px] text-[12px] text-gra leading-10 mt-2 md:mt-4">Hi there, I'm Kamil Oseni! I'm a sucker for all things art - paintings, sculptures, talent, dance, the environment, anything that screams art. 
                                    When I'm not binging on cartoons or anime, you can find me rollerblading, writing, or taking pictures of my surrounding. And of course, I have a huge soft spot for dogs too!
                                </p>
                            </section>
                        </section>
                    </div>
    
                    <div class="basis-1/4 hidden md:block">
                        <div class="xl:w-[359px] xl:h-[359px] lg:w-[280px] lg:h-[280px] md:w-[200px] md:h-[200px] bg-center bg-contain bg-no-repeat rounded-full bg-[url('/images/pPic.png')]"></div>
                    </div>
                </section>
            </div>
    
    
                                                                                                    <!-- contact me -->
            <div class="pt-8 pb-8 pr-4 pl-4 lg:pl-[144px] lg:pr-[144px] lg:pt-[32px] lg:pb-[32px] bg-lightGra2-100">
                <section>
                   <div class="relative">                                 <!--heading div-->
                        <!-- <div class="hidden lg:block absolute bg-no-repeat -top-16 bottom-0 right-0 lg:-right-[100px] w-3/6 bg-[url('/images/CaseStudies.png')]"></div> -->
                        <div class="mb-[17px] md:mb-[48px] relative">
                            <h2 class="text-[17px] md:text-2xl font-semibold">CONTACT</h2> 
                            <div class="hidden md:block w-[120px] h-[2px] bg-black absolute left-[-160px] bottom-[15px]"></div>
                        </div>
                        <p class="text-[11px] md:text-xs tracking-[7px] text-gray mb-[24px] relative">WHO AM I?</p>
                        <p class="text-[25px] md:text-[50px] text-black font-bold max-w-[800px] mb-[24px] relative">YOU’RE A MESSAGE AWAY FROM GETTING THE BEST SERVICE ;)</p>
                    </div>
    
    
                        <!-- contact card -->
                    <div class="bg-white flex pt-10 md:pt-[133px] md:pb-[123px] items-end shadow-md relative">
                        <div class="w-[64px] h-[68px] bg-[url('./images/kz.png')] bg-contain bg-center absolute top-0 left-0"></div>
                                                                        <!-- first half -->
                        <div class="basis-[50%] md:pl-[32px] pl-3 pr-2 md:pr-[24px]">
                            <p class="text-[12px] md:text-[40px] text-black font-extrabold md:font-bold mb-[24px]">FEEL FREE TO CONTACT ME ANY TIME</p>
                            <!-- <div class="w-full h-9 bg-[url('/images/Rectangle72.png')]"></div> -->
                            <img src="./images/Rectangle72.png" class="w-full" alt="" srcset="">
                        </div>
                                                                            <!-- second half -->
                        <div class="pt-6 pb-6 pr-4 pl-4 md:pt-[43px]  xl:pl-[47px] bg-black basis-[50%]">
                            <p class="font-bold text-white text-[12px] md:text-[28px] mb-[50px]">Contact Information</p>
    
                            <div class="flex md:justify-between md:flex-row flex-col">
                                <div class="w-[100%] md:w-[40%]">
                                    <div class="flex items-center">               <!--icon box-->
                                        <div class="w-5 h-5 bg-no-repeat bg-center bg-[url('/images/mail.png')]"></div>
                                        <p class="md:text-[11px] text-[10px] text-white ml-2">Kamilzoseni@gmail.com</p>
                                    </div>
            
                                    <div class="flex items-center mt-10">               <!--icon box-->
                                        <div class="w-5 h-5 bg-no-repeat bg-center bg-[url('/images/instagram.png')]"></div>
                                        <p class="md:text-[11px] text-[10px] text-white ml-2">@Kamilzamani</p>
                                    </div>
            
                                    <div class="flex items-center mt-10">               <!--icon box-->
                                        <div class="w-5 h-5 bg-no-repeat bg-center bg-[url('/images/twitter.png')]"></div>
                                        <p class="md:text-[11px] text-[10px] text-white ml-2">@Kamilzamani1</p>
                                    </div>
                                </div>
                                
                                <div class="hidden md:block bg-white w-[2px] h-[240px]"></div>   <!--line-->
        
                                <div class="md:w-[49%] w-full md:mt-0 mt-10">
                                    <div class="flex items-center">               <!--icon box-->
                                        <div class="w-5 h-5 bg-no-repeat bg-center bg-[url('/images/linkden.png')]"></div>
                                        <p class="md:text-[11px] text-[10px] text-white ml-2">www.linkedin.com/in/kamiloseni</p>
                                    </div>
                                </div>
                            </div>                      
                        </div>
                    </div>
                </section>
            </div>                                                                                       
    
                                                                    <!-- dialogs -->
            <div class="pr-2 pl-2 fixed left-0 right-0 min-h-[100vh] top-0 bg-black bg-opacity-30  flex-col items-center justify-center backdrop hidden">                          
                <div class="bg-white pt-5 pb-8 pr-[26px] pl-[26px] rounded-[16px] modal transform translate-x-[100vw] hidden"> <!--modal-->
                    <div class="md:h-[90vh] overflow-y-auto">
                        <div class="mb-4 flex justify-between">
                            <h3 class="text-darkBlue text-[12px] md:text-[24px] font-bold">CRACK Control Hub</h3>
                            <button class="close-modal-btn"><img src="./images/modals/close.svg" alt="close icon"><span class="opacity-0 absolute">close modal</span></button>
                        </div>
                        <div class="grid grid-cols-4">  <!--images-->
                            <img   src="./images/Crack Control Hub mock GIF.gif" alt="crack app showcase gif">
                            <img class="col-span-3 self-center justify-self-center w-full"  src="./images/modals/Frame 91.svg" alt="" srcset="">
                        </div>
                        <div class="mt-4"> <!--content-->
                            <p class="text-[11px] md:text-[17px] tracking-[0.3px] md:tracking-[1px] leading-[24px] md:leading-[40px]">
                                The CRACK Control Hub is a smart application through which all CRACK devices can be managed and controlled effectively. 
                            </p>
                            <a href="#" class="text-[8px] md:text-[12px] text-darkBlue underline">Click to view prototype</a>
                        </div>
                    </div>
                </div>
    
                <div class="bg-white pt-5 pb-8 pr-[26px] pl-[26px] rounded-[16px] modal transform translate-x-[100vw] hidden"> <!--modal-->
                    <div class="md:h-[90vh] overflow-y-auto">
                        <div class="mb-4 flex justify-between">
                            <h3 class="text-darkBlue text-[12px] md:text-[24px] font-bold">Marketing Dashboard</h3>
                            <button class="close-modal-btn"><img src="./images/modals/close.svg" alt="close icon"><span class="opacity-0 absolute">close modal</span></button>
                        </div>
                        <div class="flex justify-center items-end">  <!--images-->
                            <img width="60%" src="./images/modals/Studio-Display-1.svg" alt="crack app showcase gif">
                            <img width="40%" src="./images/Marketing Dashboard Gif.gif" alt="" srcset="">
                        </div>
                        <div class="mt-4"> <!--content-->
                            <p class="text-[11px] md:text-[17px] tracking-[0.3px] md:tracking-[1px] leading-[24px] md:leading-[40px]">
                                I assisted in the design of a Marketing dashboard design for the Michael Fajemilehin BI consultancy. The dashboard tracks revenue and other important marketing metrics from different stores, based on their utilization of specified marketing channels, to assist in making data-driven decisions.
                            </p>
                            <a href="#" class="text-[8px] md:text-[12px] text-darkBlue underline">Click to view published dashboard</a>
                            <a href="#" class="text-[8px] md:text-[12px] text-darkBlue underline block mt-3">Click to view prototype</a>
                        </div>
                    </div>
                </div>
    
                <div class="bg-white pt-5 pb-8 pr-[26px] pl-[26px] rounded-[16px] modal transform translate-x-[100vw] hidden"> <!--modal-->
                    <div class="md:h-[90vh] overflow-y-auto">
                        <div class="mb-4 flex justify-between">
                            <h3 class="text-darkBlue text-[12px] md:text-[24px] font-bold">CRACK Website Design</h3>
                            <button class="close-modal-btn"><img src="./images/modals/close.svg" alt="close icon"><span class="opacity-0 absolute">close modal</span></button>
                        </div>
                        <div class="flex justify-center items-end">  <!--images-->
                            <img width="60%" src="./images/modals/Studio-Display.svg" alt="crack app showcase gif">
                            <img width="40%" src="./images/CRACK Web Gif.gif" alt="" srcset="">
                        </div>
                        <div class="mt-4"> <!--content-->
                            <p class="text-[11px] md:text-[17px] tracking-[0.3px] md:tracking-[1px] leading-[24px] md:leading-[40px]">
                                I designed the CRACK website, an interactive web platform that reflects the company's brand identity and provides an intuitive user experience through the use of visual elements, colors and ergonomic design to enhance the user's overall perception of the website.
                            </p>
                            <a href="#" class="text-[8px] md:text-[12px] text-darkBlue underline">Click to view prototype</a>
                        </div>
                    </div>
                </div>
    
                <div class="bg-white pt-5 pb-8 pr-[26px] pl-[26px] rounded-[16px] modal transform translate-x-[100vw] hidden"> <!--modal-->
                    <div class="md:h-[90vh] overflow-y-auto">
                        <div class="mb-4 flex justify-between">
                            <h3 class="text-darkBlue text-[12px] md:text-[24px] font-bold">Glass Website Design</h3>
                            <button class="close-modal-btn"><img src="./images/modals/close.svg" alt="close icon"><span class="opacity-0 absolute">close modal</span></button>
                        </div>
                        <div class="flex justify-center items-end">  <!--images-->
                            <img width="60%" src="./images/modals/Mac Studio.svg" alt="crack app showcase gif">
                            <img width="40%" src="./images/glass.gif" alt="" srcset="">
                        </div>
                        <div class="mt-4"> <!--content-->
                            <p class="text-[11px] md:text-[17px] tracking-[0.3px] md:tracking-[1px] leading-[24px] md:leading-[40px]">
                                Glass is an interactive fashion website that's designed to feel sleek and modern. One of the cool features is the AR changing room that lets you try on different outfits in augmented reality. I think this will be a hit with most people and also help companies boost sales. 
                            </p>
                            <a href="#" class="text-[8px] md:text-[12px] text-darkBlue underline">Click to view prototype</a>
                        </div>
                    </div>
                </div>

                <div class="bg-white pt-5 pb-8 pr-[26px] pl-[26px] rounded-[16px] modal transform translate-x-[100vw] hidden"> <!--modal-->
                    <div class="md:h-[90vh] h-[95vh] overflow-y-auto">
                        <div class="flex justify-center items-end relative">  <!--images-->
                            <div class="absolute bg-white pl-3 pr-3 pt-2 pb-2 rounded-md right-[10%] top-[10%]">
                                <button class="close-modal-btn"><img src="./images/modals/close.svg" alt="close icon"><span class="opacity-0 absolute">close modal</span></button>
                            </div>

                            <img class="absolute w-[10%] bottom-[20%] right-[10%]" src="./images/scroll.png.png" alt="arrow pointing down">

                            <img width="100%" src="./images/GALILIE/hero.png" alt="crack app showcase gif">
                            <div class="w-[168px] md:w-[482px] absolute top-[30%] text-white left-4 hero-text bg-[#000000] bg-opacity-80 rounded-[16px]  md:rounded-[40px] pt-[7px] pb-[5px] pr-4 pl-[13px] ml-4 md:pl-[16px] md:pr-[24px] md:pt-[32px] md:pb-[46px]">
                                <div>
                                    <h1 class="text-[16px] md:text-[24px] lg:text-[48px] md:leading-[64px] text-center text-white">Galilee by CRACK</h1>
                                    <hr class="w-[100%] border-[1px] border-white">
                                </div>
                                
                                <p class="text-[10px] tracking-[0.3px] leading-4 md:text-[17px] md:leading-8">
                                    Galilee is an open virtual world where the possibilities are endless.
                                </p>
                            </div>
                        </div>
                        <div class="mt-4 relative z- "> <!--content-->
                            <Section
                                HeadingType='h2'
                                headingText="Overview"
                            >
                                <div class="grid grid-cols-3 grid-rows-2 gap-3 pr-2 pl-2 pt-4">
                                    {pageData.overview.map((item) => <TitledList title={item.title} content={item.content}/>)}
                                </div>
                            </Section>

                            <Section
                                HeadingType='h2'
                                headingText="About"
                                content="Galilee, designed to be the premier open virtual reality world. Here, users can attend virtual cinemas, compete with friends in exciting VR games, attend concerts & fashion events, revisit dreams from other creators, and even go back in time to experience historical events like never before. Galilee offers a fully open world, allowing users to explore at their own pace."
                            />

                            <Section
                                HeadingType='h2'
                                headingText="App & Web Design"
                                content="Here are links to the app and web designs"
                            >
                                <a href="#" class="text-red-500 underline">Galilee Web design</a>
                                <br>
                                <a href="#" class="text-red-500 underline">App Prototype design</a>
                            </Section>

                        </div>
                    </div>
                </div>
    
              
            </div>
    
    
        </main>

        <Footer />
        
        
        <script>
            const navBtn = document.querySelector('.nav-btn') as HTMLElement
            const navBtnOpen = document.querySelector('.nav-btnOpen') as HTMLElement
            const navMobileMenu = document.querySelector('.nav-menu') as HTMLElement
            const closenavBtn = document.querySelector('.nav-btnClose') as HTMLElement

            const modalOpeners = document.querySelectorAll('.modal-open') as NodeListOf<Element>
            const modals = document.querySelectorAll('.modal') as NodeListOf<HTMLElement>
            const backdrop = document.querySelector('.backdrop') as HTMLElement
            const modalClosers = document.querySelectorAll('.close-modal-btn')

            const bod = document.querySelector('body')


            let current

            import anime from 'animejs/lib/anime.es.js';




            console.log(backdrop)

            navBtn.addEventListener('click',(e)=> {navMobileMenu.style.display = 'block'; navBtnOpen.style.display = 'none'})

            closenavBtn.addEventListener('click', (e)=> {navMobileMenu.style.display = 'none'; navBtnOpen.style.display = 'block'})

            modalOpeners.forEach((ele, i) => ele.addEventListener('click', e => {
                modals[i].style.display = 'block'
                backdrop.style.display = 'flex'
                modals[i].classList.remove('slideOutModal')
                modals[i].classList.add('slideInModal')

                current = modals[i]
                bod.classList.add('hide')
            }))

            modalClosers.forEach((ele, i)=> ele.addEventListener('click', e => {
                modals[i].classList.remove('slideInModal')
                modals[i].classList.add('slideOutModal')
                setTimeout(()=>{
                    backdrop.style.display = 'none'
                    modals[i].style.display = 'none'    
                    bod.classList.remove('hide')
                },1000)
            }))

            console.log('current', current)
            
            backdrop.addEventListener('click', e => {
                current.classList.remove('slideInModal')
                current.classList.add('slideOutModal')
                setTimeout(()=>{
                    backdrop.style.display = 'none'
                    current.style.display = 'none'   
                    bod.classList.remove('hide') 
                },1000)
            })

            modals.forEach((modal) => modal.addEventListener('click', e => e.stopPropagation())) //prevent modal from closing when its clicked

            anime({
                    targets: '.hand',
                    rotate: [0, 30, 0, 30, 0, 0, 0],
                    endDelay: 1000,
                    duration: 1000,
                    easing: 'easeInOutQuad',
                    loop: true
                });

                anime({
                    targets: '.line',
                    translateY : [0, 20, 0],
                    duration: 1000,
                    delay : 1000,
                    easing: 'easeInOutQuad',
                    loop: true
                });
        </script>
        
    </body>
</html>
<style>
  h1 {
    color: orange;
  }
</style>