---
const {url, backgroundColor = 'bg-[#000000]', logoUrl = "/images/CRACKHEAD/KZ..png", buttonColor = 'bg-white', buttonStyle = 'bg-white', navBtnStyle, textColor} = Astro.props
---
<style>
    body.hide{
        overflow: hidden;
    }
</style>
<header class:list={["h-[300px] md:h-[767px] relative bg-cover bg-bottom flex items-center md:pl-[64px] lg:pl-[144px] md:pr-[64px] lg:pr-[144px]", url]}>
    <nav>
        <div class="w-12 h-12 nav-btnOpen absolute right-2 top-0 md:hidden">
            <div class="flex flex-col gap-[3px] justify-center items-center absolute top-0 bottom-0 right-0 left-0 pr-2 pl-2">
                <div class:list={["w-full h-[3px] bg-darkBlue nav-line rounded-md transform translate-x-[100px] animate-sliding-in-v2-1", navBtnStyle]}></div>
                <div class:list={["w-full h-[3px] bg-darkBlue nav-line rounded-md transform translate-x-[100px] animate-sliding-in-v2-2", navBtnStyle]}></div>
            </div>
            <button class="absolute top-0 bottom-0 left-0 right-0 opacity-0 nav-btn">open nav</button>
        </div>

        <div class:list={["hidden md:flex justify-between pb-[50px] pt-[48px] pr-16 pl-16 lg:pr-[144px] lg:pl-[144px] absolute left-0 right-0 top-0 hea", backgroundColor]}>
            <img class="md:h-[24px]" src={logoUrl} alt="kamil oseni logo">
            <ul class="flex gap-16 text-white">
                    <a href="/" class={textColor}><li>Home</li></a>
                    <a target="_blank" href="https://docs.google.com/document/d/1dKSnRbmW8mVrsrA1Hv_qYw-4B1S_H6xwsle8zQrj7JU/edit?usp=sharing"><li class={textColor}>Resume</li></a>
                    <li><a target="_blank" href="https://mail.google.com/mail/u/0/?fs=1&tf=cm&source=mailto&to=kamilzamani2407@gmail.com" class:list={["text-darkBlue p-[16px] rounded-[24px]", buttonStyle]}>Get in touch</a></li>
            </ul>
        </div>

        <div class="bg-white fixed top-0 right-0 left-0 z-50 pt-[68px] pr-4 pl-4 min-h-[100vh] nav-menu hidden rounded-r-[50px] shadow-2xl">
                <!-- section one -->
            <div class="flex justify-between items-center">
            <div class="w-16 h-16 bg-center bg-cover rounded-full bg-[url('/images/KamilArt.png')]"></div>
            <div class="w-12 h-12 relative">   <!--nav button-->
            <div class="flex flex-col justify-center items-center absolute top-0 bottom-0 right-0 left-0 pr-2 pl-2 pb-2 pt-2">
            <div class="w-full h-[3px] bg-darkBlue nav-line mb-[2px] rounded-md transform animate-nav-one-closing"></div>
            <div class="w-full h-[3px] bg-darkBlue nav-line mt-[2px] rounded-md transform animate-nav-two-closing"></div>
            </div>
            <button class="absolute top-0 bottom-0 left-0 right-0 opacity-0 nav-btnClose">close nav</button>
            </div>
            </div>
                            <!-- section two -->
            <div class="mt-10">
            <ul>
            <a href="/"><li class="text-[24px] font-semibold text-darkBlue transform translate-y-[100px] opacity-0 animate-nav-item-one">Home<span class="inline-block relative bottom-1 w-1 h-1 ml-2 bg-darkBlue"></span></li></a>
            <a target="_blank" href="https://docs.google.com/document/d/1dKSnRbmW8mVrsrA1Hv_qYw-4B1S_H6xwsle8zQrj7JU/edit?usp=sharing"><li class="text-[24px] font-semibold text-darkBlue mt-10 mb-10 transform translate-y-[100px] opacity-0 animate-nav-item-two">Resume<span class="inline-block relative bottom-1 w-1 h-1 ml-2 bg-darkBlue"></span></li></a>
            <a target="_blank" href="https://mail.google.com/mail/u/0/?fs=1&tf=cm&source=mailto&to=kamilzamani2407@gmail.com"><li class="text-[24px] font-semibold text-darkBlue transform translate-y-[100px] opacity-0 animate-nav-item-three">Get in touch<span class="inline-block relative bottom-1 w-1 h-1 ml-2 bg-darkBlue"></span></li></a>
            </ul>
            </div>     
                                <!-- section three -->
            <ul class="mt-9 transform translate-y-[100px] opacity-0 animate-nav-item-three">
            <a target="_blank" href="https://www.instagram.com/kamilzamani/"><li class="text-darkBlue font-bold">Instagram</li></a>
            <a target="_blank" href="https://www.linkedin.com/authwall?trk=bf&trkInfo=AQGp8A5u4BzbVwAAAYZ6OlpQykmVPoIMucsrajxjml59KQuyVrSoMvYNg8L5d6VTt1Ax2qbsSzY32AztaiU740T7WvdmtDk3tSyQ9S9a5o3XtoCsvObX_2pstkl_s4Dv3062xQI=&original_referer=&sessionRedirect=https%3A%2F%2Fwww.linkedin.com%2Fin%2Fkamiloseni%2F"><li class="mt-4 text-darkBlue font-bold">LinkedIn</li></a>
            </ul>
                                    <!-- section four -->
            <div class="flex w-24 justify-between mt-12 transform translate-y-[100px] opacity-0 animate-nav-item-three">
            <a target="_blank" href="https://twitter.com/KamilZamani1"><img src="/images/twitterWhite.svg" alt="twitter icon"></a>
            <a target="_blank" href="https://mail.google.com/mail/u/0/?fs=1&tf=cm&source=mailto&to=kamilzamani2407@gmail.com"><img src="/images/mailWhite.png" alt="mail icon"></a>
            </div>

        </div>
    </nav>

    <slot/>
</header>
<script>
    import anime from 'animejs/lib/anime.es.js';
    const navBtn = document.querySelector('.nav-btn') as HTMLElement
    const navBtnOpen = document.querySelector('.nav-btnOpen') as HTMLElement
    const navMobileMenu = document.querySelector('.nav-menu') as HTMLElement
    const closenavBtn = document.querySelector('.nav-btnClose')
    const bod = document.querySelector('body')

    anime({
        targets: '.hea',
        translateY: [-200, 0],
        duration: 800,
        easing: 'easeInOutQuad'
    });

    anime({
            targets: '.hero-text',
            translateX: [-700, 0],
            duration: 800,
            // easing: 'easeInOutQuad'
        });

    navBtn.addEventListener('click',(e)=> {navMobileMenu.style.display = 'block'; navBtnOpen.style.display = 'none', bod.classList.add('hide')})

    closenavBtn.addEventListener('click', (e)=> {navMobileMenu.style.display = 'none'; navBtnOpen.style.display = 'block'; bod.classList.remove('hide')})


</script>