---

---
<header class="h-[300px] md:h-[767px] relative bg-cover bg-bottom bg-[url('/images/CRACKHEAD/crackHeadMob.png')] flex items-center md:pl-[64px] lg:pl-[144px]">
    <nav>
        <div class="w-12 h-12 nav-btnOpen absolute right-2 top-0 md:hidden">
            <div class="flex flex-col gap-[3px] justify-center items-center absolute top-0 bottom-0 right-0 left-0 pr-2 pl-2">
                <div class="w-full h-[3px] bg-darkBlue nav-line rounded-md transform translate-x-[100px] animate-sliding-in-v2-1"></div>
                <div class="w-full h-[3px] bg-darkBlue nav-line rounded-md transform translate-x-[100px] animate-sliding-in-v2-2"></div>
            </div>
            <button class="absolute top-0 bottom-0 left-0 right-0 opacity-0 nav-btn">open nav</button>
        </div>

        <div class="hidden md:flex justify-between bg-black pb-[50px] pt-[48px] pr-16 pl-16 lg:pr-[144px] lg:pl-[144px] absolute left-0 right-0 top-0">
            <img class="md:h-[24px]" src="/images/CRACKHEAD/KZ..png" alt="kamil oseni logo">
            <ul class="flex gap-16">
                    <li>Home</li>
                    <li>Resume</li>
                    <li><a href="#" class="bg-white text-darkBlue p-[16px] rounded-[24px]">Get in touch</a></li>
            </ul>
        </div>
    </nav>

    <slot/>
</header>