---
import TitledList from '../../components/crackHeadphones/TitledList.astro';
import pageData from '../../data/chelseax'
import Section from '../../components/crackHeadphones/Section.astro';
import Card from '../../components/Card.astro';
import Understand from '../../components/subSections/Understand.astro';
import BuildAndDesign from '../../components/subSections/BuildAndDesign.astro';
import Table from '../../components/subSections/table.astro';
import GoingForward from '../../components/subSections/GoingForward.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
---

<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>CRACK Chelsea FC</title>
</head>
<body>
    <Header
     url="bg-[url('/images/CHEALSEAX/hero.png')]"
     navBtnStyle="bg-white"
    >
        <div class="w-[70%] md:w-[482px] md:static text-white absolute bottom-8 left-4 hero-text bg-black bg-opacity-80 rounded-[16px]  md:rounded-[40px] pt-8 pb-8 pr-4 pl-4">
            <h1 class="text-[16px] md:text-[24px] lg:text-[48px] md:leading-[64px]">CRACK <span class="text-yellow-300">X</span> Chelsea FC</h1>
            <hr class="w-[100%] border-[1px] border-white">
            <p class="text-[10px] tracking-[0.3px] leading-4 md:text-[17px] md:leading-8">
                Virtual reality (VR) technology has the potential to revolutionize the way we watch live sports, including football. By using VR headsets and other immersive technology, fans can experience the game as if they were right on the field, giving them a unique and highly engaging viewing experience.
            </p>
        </div>
    </Header>



    <main class="text-[#555555]">
        <div class="pt-6 pl-4 pr-4 pb-[40px] md:pt-8 md:pr-8 md:pl-18 md:pb-0  lg:pt-16 lg:pr-36 lg:pl-36 lg:pb-0">
            <Section
                HeadingType='h2'
                headingText="Overview"
            >
                <div class="grid grid-cols-3 grid-rows-2 gap-3 pr-2 pl-2 pt-4 bg-lightGra2-100 md:hidden">
                    {pageData.overview.desktop.map((item) => <TitledList title={item.title} content={item.content}/>)}
                </div>

                <div class="md:grid grid-cols-3 grid-rows-2 gap-3 pr-2 pl-2 pt-4 bg-lightGra2-100 hidden">
                    {pageData.overview.mobile.map((item) => <TitledList title={item.title} content={item.content}/>)}
                </div>
            </Section>
        </div>
        
        <!-- about -->
        <div class="pt-6 pl-4 pr-4 pb-[40px] md:pt-8 md:pr-8 md:pl-18 md:pb-0  lg:pt-16 lg:pr-36 lg:pl-36 lg:pb-0">
            <Section
                HeadingType='h2'
                headingText="About"
            >
                <p>
                    <span class="text-[#555555] font-bold italic">“This App has made me feel very much like I'm part of the team. A Blue i have always been, I can feel the Stamford Bridge atmosphere 
                        from here. I love Chelsea FC and the App, in a way puts me In London...” - Wilson Ndlovu.
                    </span>
                    <br>
                    Virtual reality (VR) is an immersive technology that allows users to experience a simulated environment as if they were physically present in it. 
                    One of the many exciting applications of VR is the ability to watch live sports events in a fully immersive way, as if one were actually at the game. 
                    This document will provide an overview of the introduction of VR into a live football viewing experience at the Stamford Bridge.
                </p>
            </Section>
        </div>

        <!-- understanding the user -->
        <div class="pt-6 pl-4 pr-4 pb-[40px] md:pt-8 md:pr-8 md:pl-18 md:pb-0  lg:pt-16 lg:pr-36 lg:pl-36 lg:pb-0 bg-lightGra2-100">
            <Section
                HeadingType='h2'
                headingText="User Research"
            >
                <Section
                    HeadingType='h3'
                    headingText="Understanding the user" 
                    content="In order to gather information for this project, both primary and secondary research methods were employed. Primary research consisted of direct interviews and surveys with individuals in order to understand their needs and pain points. However, the geographical limitations of this primary research meant that additional data was required. As a result, secondary research methods were utilized, including data scraping from Google Play store and he Apple App Store. Both qualitative and quantitative data were used in the course of this research."                   
                />
                            <!-- data extrzction -->
                <Section
                    HeadingType='h3'
                    headingText="Data Extraction" 
                >
                    <Section
                        HeadingType='h4'
                        headingText="Process" 
                    >
                        <ul class="list-inside list-decimal">
                            <li>Installation & Importation of Libraries</li>
                            <li>Data Scraping</li>
                            <li>Sentimental Analysis</li>
                            <li>Exploratory Data Analysis</li>
                        </ul>
                    </Section>
            
                    <Section
                        HeadingType='h4'
                        headingText="Libraries Used" 
                    >
                        <ul class="list-inside list-decimal">
                            <li>Tensorflow</li>
                            <li>Transformers</li>
                            <li>Plotly Express</li>
                            <li>Numpy</li>
                            <li>Pandas</li>
                            <li>Json</li>
                            <li>Google Play Scraper</li>
                            <li>App Store Scraper</li>
                            <li>Torch Torchvision Torch Audio</li>
                            <li>Pyyaml</li>
                            <li>Matplot</li>
                            <li>Pipeline</li>
                        </ul>
                    </Section>

                    <p>
                        In order to accurately represent the user population of the "Chelsea FC - The 5th Stand" app, data was collected from both the Google Play Store and the App Store. 
                        Python was chosen as the extraction tool due to its extensive data manipulation and extraction libraries. 
                        The open-source packages "google_play_scraper" and "app_store_scraper" were utilized for data scraping. To clean and organize the data, the Pandas library, built on top of Numpy, was used. 
                        A sentiment analysis was also conducted to distinguish between positive and negative reviews, utilizing the transformers library. 
                        The resulting dataset was then organized and prepared for analysis.
                    </p>

                    <img class="mt-2" src="/images/CHEALSEAX/code.png" alt="python code snapshot">

                    <a class="underline font-medium" href="http://">View entire data collection process <span class="text-[#161edb]">here</span></a>
                    <Section
                        HeadingType='h4'
                        headingText="User Reviews" 
                        content="The data extraction process allowed us to gather a large number of user reviews, providing valuable insights and we found that a common request among customers was the addition of a live streaming feature for football matches, we also found out that Fans wanted to feel more at home and connected to their favorite club. This feedback was taken into consideration and what better way to make them feel at home and enjoy a live match than the introduction of a virtual live stream feature, which allows the fans have the experience of a live match at the Stamford Bridge even being far away."
                    >
                        <p>We extracted <b>46,245</b> reviews from both stores for this document. Of these, the following reviews were particularly relevant:</p>
                        <ul class="list-outside list-disc italic">
                            <li>“I have been a Chelsea fan since I was born, passed down from my dad to me, so seeing all news about CFC has been great and exciting, I never miss any game and I wish that one day I would be able to go to Stamford bridge to watch a live Chelsea match. Keep winning blues because you always make me proud to be a Chelsea fan.” - <b>Aruna David</b></li><br>
                            <li>“This App has made me feel very much like I'm part of the team. A Blue i have always been, I can feel the Stamford Bridge atmosphere from here. I love Chelsea FC and the App, in a way puts me In London...” - <b>Wilson Ndlovu</b></li><br>
                            <li>“Its been a wonderful experience having this app on my phone, it makes me closer to Stamford bridge though far away.” - <b>Festus Iwara</b></li><br>
                            <li>“The 5th stand brings me so close to Stamford bridge right here even in Nigeria I feel like am in London watching. Thank you for a great support and job you do.” - <b>Odole Oladipupo</b></li><br>
                            <li>“I’m American and being able to listen to the home commentary out of Stamford bridge is a real treat as i watch/stream the game. great stuff” - geo <b>andrew 97</b></li><br>
                            <li>“I live very far from Stamford Bridge, - (Los Angeles), but I grew up in SW19, and am a lifetime Chelsea fan. This is a great way to stay in touch with events and interviews.” - <b>TheNewSilb</b></li><br>
                            <li>“I enjoy everything about the blues. This is my life, this is where I belong and someday I’ll be at Stamford Bridge to watch my people live.” - <b>Killertunz</b></li>
                        </ul>
                    </Section>
                </Section>

                <p>
                    There are so many Chelsea fans who would love to be able to watch the team play live, even if they are far away from Stamford Bridge. This got us thinking - why not bring Stamford Bridge to them and make them feel at home no matter where they are.
                </p>
            </Section>
        </div>

        <!-- proposed solution -->
        <div class="pt-6 pb-[64px] pl-4 pr-4 md:pt-8 md:pr-8 md:pl-18 md:pb-0  lg:pt-16 lg:pr-36 lg:pl-36 lg:pb-0">
            <Section HeadingType="h2" headingText="Proposed Solution"
                content="The proposed solution involves the implementation of virtual reality technology in the live streaming of football matches, with the goal of enhancing the viewing experience and allowing fans feel a greater sense of immersion and proximity to Chelsea FC and to the Stamford Bridge."
            >
                <Section
                    HeadingType='h3'
                    headingText="Features"
                >
                    <p>
                        The proposed solution will include the following features: <b>1)</b> Virtual live streaming of football matches; <b>2)</b> Virtual attendance at live press conferences; <b>3)</b> A virtual marketplace for Chelsea FC merchandise and other items.
                    </p>
                </Section>

                <Section
                    HeadingType='h3'
                    headingText="Accessibility Considerations"
                    content="In order to ensure accessibility for all users, closed captions and alt texts will be included for deaf individuals. Additionally, virtual reality headsets come equipped with Crack Sound enhancements for individuals who use hearing aids."
                />
            </Section>
        </div>

        <!-- design process  -->

        <div class="pt-6 pb-[64px] pl-4 pr-4 md:pt-8 md:pr-8 md:pl-18 md:pb-0  lg:pt-16 lg:pr-36 lg:pl-36 lg:pb-0">
            <Section
                HeadingType='h2'
                headingText="Design Process"
            >
                <Section
                    HeadingType='h3'
                    headingText="VR Design"
                   content="The design for this project was created on a 1920 by 1080 artboard, adhering to both the brand colors of Chelsea FC and the VR design guidelines The design will feature a minimal interface, intended to be user-friendly and easy to navigate with the following options: 1. Virtual live streaming of matches, 2. Virtual attendance of live press conferences, 3. Access to the Chelsea FC virtual marketplace. Below is a visual representation of the proposed design, a GIF illustrating the virtual environment, and a link to the virtual design featuring a VR depiction of Stamford Bridge."
                >
                    <a class="underline font-medium" href="http://">CLICK HERE TO ENTER STAMFORD BRIDGE</a>
                    <div>
                        <img class="w-[48%] inline-block" src="/images/CHEALSEAX/View6.png" alt="shots from the VR stadium">
                        <img class="w-[48%] inline-block" src="/images/CHEALSEAX/View8.png" alt="shots from the VR conference room">
                        <img class="w-[46%] inline-block mt-1" src="/images/CHEALSEAX/stam.gif" alt="shots from the VR football field">
                    </div>
                </Section>

                <Section
                    HeadingType='h3'
                    headingText="Product Design"
                   content="We wanted the virtual reality headset to incorporate the triangular design of the traditional Crack headphones. The headset features a built-in speaker, which will be calibrated tuned by Crack, as well as an Amoled display on the front of the headset.The headset will be a Crack x Chelsea brand."
                />

                <Section
                    HeadingType='h3'
                    headingText="Sketches"
                   content="Below are sketches showing the sketch process and potential design for the appearance of the VR headset."
                >
                    <img src="/images/CHEALSEAX/sketches.png" alt="code snapshot">
                </Section>
            </Section>
        </div>

        <!-- market analysis -->
        <div class="pt-6 pb-[64px] pl-4 pr-4 md:pt-8 md:pr-8 md:pl-18 md:pb-0  lg:pt-16 lg:pr-36 lg:pl-36 lg:pb-0">
            <Section
                HeadingType='h2'
                headingText="Market Analysis"
            >
                <Section
                    HeadingType='h3'
                    headingText="Cost Analysis" 
                    content="During a brief cost evaluation, the following two questions were considered: "
                >
                    <ul class="list-inside list-decimal">
                        <li>What equipment is necessary for the establishment of a virtual reality system at Stamford Bridge?</li>
                        <li>What is the estimated cost of establishing a virtual reality system at Stamford Bridge?</li>
                    </ul>
                </Section>

                <Section
                    HeadingType='h3'
                    headingText="What equipment is necessary for the establishment of a virtual reality system at Stamford Bridge? " 
                    content="To create a virtual reality experience of the Stamford Bridge, we will need a number of high-quality cameras to the capture 360-degree video of the stadium and its surroundings. We will also need specialized VR capture equipment, such as VR rigs or multi-camera arrays, to ensure that the video is captured in a way that can be seamlessly stitched together to create a seamless VR experience. Additionally, we will need a range of support equipment, such as tripods, stabilizers, and lighting, to ensure that the video is captured with a high level of quality. Ricoh theta cameras and GoPro VR cubes will also be needed."
                />

                <Section
                    HeadingType='h3'
                    headingText="What is the estimated cost of establishing a virtual reality system at Stamford Bridge?" 
                    content="In order to provide a satisfactory response to this question, it will be necessary to conduct additional cost analysis research to determine the exact cost of establishing a virtual reality system."
                />

                <Section
                    HeadingType='h3'
                    headingText="Club Revenue" 
                    content="There are several methods by which the club will profit from this project, including: "
                >
                    <ul class="list-inside list-decimal">
                        <li>A monthly subscription fee from users;</li>
                        <li>Virtual stores offering the sale of kits and non-fungible tokens (NFT) collectibles;</li>
                        <li>The sale of VR headsets</li>
                    </ul>
                </Section>
            </Section>
        </div>

        <!-- other benefits -->
        <div class="pt-6 pb-[64px] pl-4 pr-4 md:pt-8 md:pr-8 md:pl-18 md:pb-0  lg:pt-16 lg:pr-36 lg:pl-36 lg:pb-0">
            <Section
                HeadingType='h2'
                headingText="Other Benefits"
            >
                <Section
                    HeadingType='h3'
                    headingText="Safety"
                    content="A research study conducted by Marc Fabel and Helmut Rainer explored the correlation between football-related violence and societal violent crime. The findings indicate that there is a 21.5% increase in violent crime on match days. Additionally, the study determined that professional football matches account for 8% of all violent assaults and incur approximate social costs of 194 million Euros.The implementation of Virtual live streaming in the realm of football is intended to provide users with a sense of security while experiencing the events at Stamford Bridge."
                />

                <Section
                    HeadingType='h3'
                    headingText="Disabilities"
                    content="The implementation of virtual live streaming technology at Stamford Bridge for football matches would facilitate increased accessibility for disabled individuals, allowing them to experience live events with convenience and comfort."
                />
            </Section>
        </div>

        <!-- conclusion -->
        <div class="pt-6 pb-[64px] pl-4 pr-4 md:pt-8 md:pr-8 md:pl-18 md:pb-0  lg:pt-16 lg:pr-36 lg:pl-36 lg:pb-0">
            <Section
                HeadingType='h2'
                headingText="Conclusion"
            >
                <p>
                    The introduction of VR to live streaming football matches was first attempted by several major broadcasters in the early 2020s.
                     One of the main challenges faced by these broadcasters was the high cost and technical complexity of setting up VR systems.
                      In order to deliver a high-quality VR experience to viewers, broadcasters had to invest in expensive VR cameras, as well as the infrastructure to support live streaming in VR.
                    <br>
                    <br> 
                    Despite these challenges, several broadcasters saw the potential for VR to revolutionize the way we experience live sports. 
                    VR allows viewers to feel as if they are actually at the match, with a 360-degree view of the action. 
                    This can be especially immersive for football, as the camera can be placed on the pitch to give viewers a player's-eye view of the game. 
                    One of the main benefits of VR in live sports is the ability to offer multiple camera angles and viewpoints. 
                    This allows viewers to choose their own perspective on the game, whether it be from the perspective of a player on the pitch, or from a bird's-eye view high above the stadium. 
                    This level of interactivity and control over the viewing experience is not possible with traditional televised sports.
                    <br> 
                    <br>
                    Despite the initial challenges and high costs, the adoption of VR in live sports has continued to grow. 
                    Major football leagues and clubs around the world have begun to experiment with VR broadcasts, and some have even started offering VR experiences to fans attending matches in person.
                    <br> 
                    <br>
                    Looking to the future, it is likely that VR will continue to play a larger role in live sports broadcasting. As VR technology becomes more affordable and accessible, it is likely that more and more broadcasters will adopt VR as a way to offer a more immersive and interactive viewing experience for sports fans. It is also possible that VR will be used to offer new types of content and experiences, such as virtual stadium tours or player interviews.
                    <br> 
                    <br>
                    Overall, the introduction of VR to live streaming football matches has been a challenging but ultimately exciting development in the world of sports broadcasting. While there are still obstacles to overcome, the potential for VR to revolutionize the way we experience live sports is undeniable.
                </p>
            </Section>
        </div>

        <!-- lets Connect -->
        <div class="pt-6 pb-[64px] pl-4 pr-4 md:pt-8 md:pr-8 md:pl-18 md:pb-0  lg:pt-16 lg:pr-36 lg:pl-36 lg:pb-0">
            <Section 
                HeadingType="h2" 
                headingText="Let's Connect"
                content="If you want to know more about the project, other projects, or if you want to work with me, feel free to contact me at "
            >
                <a class="underline font-medium" target="_blank" href="https://mail.google.com/mail/u/0/?fs=1&tf=cm&source=mailto&to=kamilzamani2407@gmail.com">kamilzoseni@gmail.com</a>
            </Section>
        </div>
    </main>


    <Footer
        leftText="Crack Headphones"
        leftUrl="/projects/crack-headphones"
        rightText="Galilee by Crack"
        rightUrl="/projects/galilee-by-crack"
    />
</body>
</html>