---
import TitledList from '../../components/crackHeadphones/TitledList.astro';
import pageData from '../../data/gal'
import Section from '../../components/crackHeadphones/Section.astro';
import Card from '../../components/Card.astro';
import Understand from '../../components/subSections/Understand.astro';
import BuildAndDesign from '../../components/subSections/BuildAndDesign.astro';
import Table from '../../components/subSections/table.astro';
import GoingForward from '../../components/subSections/GoingForward.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
---

<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Galilie by crack</title>
</head>
<body>
    <Header 
        url="bg-[url('/images/GALILIE/hero.png')]"
        navBtnStyle="bg-white"
    >
        <div class="w-[168px] md:w-[482px] md:static text-white bottom-8 left-4 hero-text bg-[#000000] bg-opacity-80 rounded-[16px]  md:rounded-[40px] pt-[7px] pb-[5px] pr-4 pl-[13px] ml-4 md:pl-[16px] md:pr-[24px] md:pt-[32px] md:pb-[46px]">
            <div>
                <h1 class="text-[16px] md:text-[24px] lg:text-[48px] md:leading-[64px] text-center">Galilee by CRACK</h1>
                <hr class="w-[100%] border-[1px] border-white">
            </div>
            
            <p class="text-[10px] tracking-[0.3px] leading-4 md:text-[17px] md:leading-8">
                Galilee is an open virtual world where the possibilities are endless.
            </p>
        </div>
    </Header>



    <main>
        <div class="pt-6 pl-4 pr-4 pb-[40px] md:pt-8 md:pr-8 md:pl-18 md:pb-0  lg:pt-16 lg:pr-36 lg:pl-36 lg:pb-0">
            <Section
                HeadingType='h2'
                headingText="Overview"
            >
                <div class="grid grid-cols-3 grid-rows-2 gap-3 pr-2 pl-2 pt-4">
                    {pageData.overview.map((item) => <TitledList title={item.title} content={item.content}/>)}
                </div>
            </Section>
        </div>
        
        <!-- about -->
        <div class="pt-6 pl-4 pr-4 pb-[40px] md:pt-8 md:pr-8 md:pl-18 md:pb-0  lg:pt-16 lg:pr-36 lg:pl-36 lg:pb-0">
            <Section
                HeadingType='h2'
                headingText="About"
                content="Galilee, designed to be the premier open virtual reality world. Here, users can attend virtual cinemas, compete with friends in exciting VR games, attend concerts & fashion events, revisit dreams from other creators, and even go back in time to experience historical events like never before. Galilee offers a fully open world, allowing users to explore at their own pace."
            />
        </div>

        <!-- app & web design -->
        <div class="pt-6 pl-4 pr-4 pb-[40px] md:pt-8 md:pr-8 md:pl-18 md:pb-0  lg:pt-16 lg:pr-36 lg:pl-36 lg:pb-0">
            <Section
                HeadingType='h2'
                headingText="App and Web Design"
                content="Here are links to the app and web designs"
            >
                <a class="text-[#161ebd] underline" target="_blank" href="https://www.figma.com/proto/FkY1AidIu4xW5D8XDKc0D2/CRACK?page-id=1%3A3&node-id=222%3A5993&viewport=207%2C499%2C0.05&scaling=min-zoom&starting-point-node-id=147%3A6542&fuid=1121458938703951086">Galilee Web design</a>
                <br>
                <a target="_blank" href="https://www.figma.com/proto/FkY1AidIu4xW5D8XDKc0D2/CRACK?page-id=1%3A5&node-id=485%3A8994&viewport=781%2C596%2C0.18&scaling=min-zoom&starting-point-node-id=485%3A8994&fuid=1121458938703951086" class="text-[#161ebd] underline">App Prototype design</a>
            </Section>
        </div>
      
    </main>


    <Footer
        leftText="Crack X Chelsea"
        leftUrl="/projects/crack-x-chelsea-FC"
        rightText="Winamp Redesign"
        rightUrl="/projects/winamp-redesign"
    />

    <script>
             import anime from 'animejs/lib/anime.es.js';

            anime({
                targets: '.hero-text',
                translateX: [-700, 0],
                duration: 800,
                // easing: 'easeInOutQuad'
            });
    </script>
</body>
</html>